# Ignore node_modules directory
node_modules/

# Ignore Deno's dependency directory
deno_dir/

# Ignore compiled JavaScript files
*.js

# Ignore compiled JavaScript map files
*.js.map

# Ignore TypeScript declaration files
*.d.ts

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore build output directories
dist/
build/

.vscode
